In [ ]:
# creating series

- we can series different ways
  - by using list
  - empty series
  - by using an array
  - by accessing single column from dataframe

In [3]:
import pandas as pd
number = [1,2,3,4,5,6]
s = pd.Series(number)
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
series = pd.Series()
series

Series([], dtype: object)

In [9]:
import numpy as np

In [12]:
import numpy as np
n = [1,2,3,4,5]
s = np.array(n)
data = pd.Series(s)
print(data)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [14]:
marks = [56, 45, 35, 41, 44, 60]
s = pd.Series(marks)
print(s)
print(s.values)

0    56
1    45
2    35
3    41
4    44
5    60
dtype: int64
[56 45 35 41 44 60]

In [15]:
marks = [56, 45, 35, 41, 44, 60]
print(s.describe())

count     6.000000
mean     46.833333
std       9.410986
min      35.000000
25%      41.750000
50%      44.500000
75%      53.250000
max      60.000000
dtype: float64